section {
    height: 80vh;
}

button.blue-button{
    border: 0px;
    border-radius: 100px;
    padding: 1em 3em;
    color: $white;
    background-color: $secondary-color;
}

span.beside-button {
    color: $secondary-color;
    margin: 1em;
}

.padding {
    padding: 1em 0;
}

