section {
    height: 65vh;
    // border: solid 1px red;
    &.blue {
        background-color: $secondary-color;
    }
}

button.blue-button{
    border: 0px;
    border-radius: 100px;
    padding: 1em 3em;
    margin-top: 1em;
    color: $white;
    background-color: $secondary-color;
    &:hover {
        
    }
}

span.beside-button {
    margin: 1em;
}

.padding {
    padding: 0.5em 0 1em 0;
}

