/***************
    INIT
****************/

html, 
body{
    margin: 0;
    padding: 0;
}

/***************
    NAVBAR
****************/

.navbar-expand-lg .navbar-nav > .nav-item.nav-link {
    padding: 2em;
    &:last-child{
        padding-right: 0em;
    }
}


/***************
    BODY
****************/

#globalWrapper {
    max-width: 1000px;
	margin: auto;
}

