/***************
    INIT
****************/

html,
body {
    margin: 0;
    padding: 0;
    background-color: $primary-color !important;
}


/***************
    BODY
****************/

#globalWrapper {
    max-width: 1000px;
    margin: auto;
}

div.overlap {
    margin-left: -34%;
}

section > div.container {
    height: 100%;

    div.row {
        height: 100%;
    }
}

.align-self-top {
    align-self: flex-start;
}

.align-self-bottom {
    align-self: flex-end;
}

/***************
    NAVBAR
****************/

.pull-down {
    padding-top: 4em;
}

.navbar-expand-lg .navbar-nav>.nav-item.nav-link {
    padding: 1em;
    font-family: $base-font-size;
    color: $secondary-color;
    font-size: 19px;

    &:last-child {
        padding-right: 0em;
    }
}