body {
    font-family: $body-text;
    color: $secondary-color;
    font-size: $base-font-size;
}

button.blue-button {
    font-family: $heading-font;
    font-size: 18px;
    letter-spacing: 0.54px;
}

/***************
    HEADINGS
****************/

h1, 
h2 {
    font-family: $heading-font ;
}

h1 {
    font-size: 69px ;
}

h2 {
    font-size: 40px ;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 25px ;
    line-height: 32px;
    letter-spacing: 0.5px;
}

h4 {
    font-size: 20px;
    line-height: 28px;
}
h4 {
    font-size: 20px;
    line-height: 28px;
}

.inverted {
    color: $primary-color;
}



p.caption {
    color: $white;
    text-align: center;
}