body {
    font-family: $body-text;
    color: $secondary-color !important;
    font-size: $base-font-size !important;
}

button.blue-button {
    font-family: $heading-font;
    font-size: 18px;
    letter-spacing: 0.54px;
}

/***************
    HEADINGS
****************/

h1, 
h2 {
    font-family: $heading-font;
}

h1 {
    color: $secondary-color;
    font-size: 69px !important;
}

h2 {
    font-size: 40px !important;
}

h3 {
    font-family: $body-text !important;
    font-size: 25px !important;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: $secondary-color;
}

