body {
    font-family: $body-text;
    color: $secondary-color !important;
    font-size: $base-font-size !important;
}

button.blue-button {
    font-family: $h1-font;
    font-size: 18px;
    letter-spacing: 0.54px;
}

/***************
    HEADINGS
****************/

h1 {
    font-family: $h1-font;
    color: $secondary-color;
    font-size: 69px !important;
}

h3 {
    font-family: $body-text;
    font-size: 25px !important;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: $secondary-color;
}

