/******
VARIABLES
*******/
$primary-color:#F1CFDA ;
$secondary-color: #334798;
$white: #FFFFFF;

$base-font-size: 13px;

$line-height: 28px;

$body-text: 'CircularStd-Book';
$h1-font: 'larish_neuesemibold';


/******
PARTIALS
*******/
@import "_layout.scss",
        "_typography.scss",
        "_components.scss";
